@{
    ViewData["Title"] = "Домашняя страница";
}

<div style=" text-align: center;">
    <br /><br /><br /><img src="~/images/logo_n.png" alt="Фотография отсутсвует"   /><br /><br />
                                                                         <h1>Учет транспортных средств</h1>
</div>